spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://localhost:9090/realms/micro-services"

  application:
    name: gateway

  config:
    import:
    - optional:configserver:http://localhost:8888
 