services:
  postgres:
    container_name: ms_pg_sql
    image: postgres
    environment:
      POSTGRES_USER: johnny
      POSTGRES_PASSWORD: johnny123
      PGDATA: /ms_services/postgres
    volumes:
      - postgresql:/ms_services/postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U johhny"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-net
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - microservices-net
    restart: unless-stopped

  mongodb:
    container_name: ms_mongodb
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=johnny
      - MONGO_INITDB_ROOT_PASSWORD=johnny123
    healthcheck:
      test: ["CMD-SHELL", "mongosh --eval \"db.adminCommand('ping')\""]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-net
    
  mongo-express:
    container_name: ms_mongo-express
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
       - ME_CONFIG_MONGODB_SERVER=mongodb
       - ME_CONFIG_MONGODB_ADMINUSERNAME=johnny
       - ME_CONFIG_MONGODB_ADMINPASSWORD=johnny123
       - ME_CONFIG_BASICAUTH_USERNAME=johnny
       - ME_CONFIG_BASICAUTH_PASSWORD=johnny123
       - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
       - ME_CONFIG_MONGODB_URL=mongodb://mongodb:27017
    depends_on:
      - mongodb
    networks:
      - microservices-net 

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2281:2181
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc -w 3 localhost 2181 | grep imok || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-net
    
  kafka:
    image: confluentinc/cp-kafka:7.9.4
    container_name: ms_kafka
    ports:
      - 9092:9092
    environment:
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://host.docker.internal:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://host.docker.internal:9092
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/9092' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s
    networks:
      - microservices-net
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mail-dev:
    container_name: ms_maildev
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025" 
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "1025"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - microservices-net
  
  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin
    ports:
      - 9411:9411
    networks:
      - microservices-net


  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - 81:8080
    volumes:
      - C:\Users\Lenovo\Desktop\e-commerce\nginx\nginx.conf:/etc/nginx/nginx.conf:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ["CMD", "nc -z localhost 8080"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      config-server:
        condition: service_healthy
      customer-service:
        condition: service_healthy
      product-service:
        condition: service_healthy
      order-service:
        condition: service_healthy
      payment-service:
        condition: service_healthy
    networks:
      - microservices-net

  config-server:
    build:
      context: ./services/config-server
      dockerfile: Dockerfile
    image: spring/config-server:1.0.0
    container_name: config-server
    ports:
      - "${CONFIG_SERVER_PORT:-8888}:8888"
    environment:
      - SPRING_PROFILES_ACTIVE=native
      - SPRING_APPLICATION_NAME=config-server
      # - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://config-server:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-net

  discovery-server:
    build:
      context: ./services/discovery
      dockerfile: Dockerfile
    image: spring/discovery-server:1.0.0
    container_name: eureka-server
    ports:
      - "${DISCOVERY_SERVER_PORT:-8761}:8761"
    environment:
      - SPRING_APPLICATION_NAME=discovery
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
    healthcheck:
      test: ["CMD", "curl", "-f", "http://discovery-server:8761/actuator/health"]
      interval: 20s
      timeout: 5s
      retries: 5
      # start_period: 30s
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - microservices-net

  customer-service:
    build:
      context: ./services/customer
      dockerfile: Dockerfile
    image: spring/customer-service:1.0.0
    container_name: customer-service
    ports:
      - "${CUSTOMER_SERVICE_PORT:-8030}:8030"
    environment:
      - SPRING_APPLICATION_NAME=customer
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - SPRING_DATA_MONGODB_URI=mongodb://johnny:johnny123@mongodb:27017/customer?authSource=admin
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      postgres:
        condition: service_healthy
      config-server:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://customer-service:8030/actuator/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - microservices-net
    
  product-service:
    build:
      context: ./services/product
      dockerfile: Dockerfile
    image: spring/product-service:1.0.0
    container_name: product-service
    ports:
      - "${PRODUCT_SERVICE_PORT:-8050}:8050"
    environment:
      - SPRING_APPLICATION_NAME=product
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

      # PostgreSQL konekcija
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ms_pg_sql:5432/products
      - SPRING_DATASOURCE_USERNAME=johnny
      - SPRING_DATASOURCE_PASSWORD=johnny123
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    # depends_on:
    #   - postgres
    #   - kafka
    #   - discovery-server
    #   - config-server
    healthcheck:
      test: ["CMD", "curl", "-f", "http://product-service:8050/actuator/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    depends_on:
      config-server:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - microservices-net

  order-service:
    build:
      context: ./services/order
      dockerfile: Dockerfile
    image: spring/order-service:1.0.0
    container_name: order-service
    ports:
      - "${ORDER_SERVICE_PORT:-8040}:8040"
    environment:
      - SPRING_APPLICATION_NAME=order
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

      # kafka
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=ms_kafka:9092
      - SPRING_KAFKA_PRODUCER_BOOTSTRAP_SERVERS=ms_kafka:9092
      - SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS=ms_kafka:9092

      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - APPLICATION_CONFIG_CUSTOMER-URL=http://nginx:8080/api/v1/customers
      - APPLICATION_CONFIG_PRODUCT-URL=http://nginx:8080/api/v1/products
      - APPLICATION_CONFIG_PAYMENT-URL=http://nginx:8080/api/v1/payments

      # PostgreSQL konekcija
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ms_pg_sql:5432/orders
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      - SPRING_DATASOURCE_USERNAME=johnny
      - SPRING_DATASOURCE_PASSWORD=johnny123
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    healthcheck:
      test: ["CMD", "curl", "-f", "http://order-service:8040/actuator/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    depends_on:
      config-server:
        condition: service_healthy
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    networks:
      - microservices-net

  payment-service:
    build:
      context: ./services/payment
      dockerfile: Dockerfile
    image: spring/payment-service:1.0.0
    container_name: payment-service
    ports:
      - "${PAYMENT_SERVICE_PORT:-8060}:8060"
    environment:
      - SPRING_APPLICATION_NAME=payment
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

      #PostgreSQL konekcija
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ms_pg_sql:5432/payment
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      - SPRING_DATASOURCE_USERNAME=johnny
      - SPRING_DATASOURCE_PASSWORD=johnny123
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

      # kafka
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=ms_kafka:9092
      - SPRING_KAFKA_PRODUCER_BOOTSTRAP_SERVERS=ms_kafka:9092
      - SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS=ms_kafka:9092
    healthcheck:
      test: ["CMD", "curl", "-f", "http://payment-service:8060/actuator/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    depends_on:
      config-server:
        condition: service_healthy
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    networks:
      - microservices-net

  notification:
    build:
      context: ./services/notification
      dockerfile: Dockerfile
    image: spring/notification-service:1.0.0
    container_name: notification-service
    ports:
      - "${NOTIFICATION_SERVICE_PORT:-8070}:8070"
    environment:
      - SPRING_APPLICATION_NAME=notification
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

      # kafka
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=ms_kafka:9092
      - SPRING_KAFKA_PRODUCER_BOOTSTRAPS_SERVERS=ms_kafka:9092
      - SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS=ms_kafka:9092

      # mail
      - SPRING_MAIL_HOST=mail-dev
      - SPRING_MAIL_PORT=1025

      # mongo
      - SPRING_DATA_MONGODB_URI=mongodb://johnny:johnny123@mongodb:27017/notification?authSource=admin
    healthcheck:
      test: ["CMD", "curl", "-f", "http://notification-service:8070/actuator/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    depends_on:
      config-server:
        condition: service_healthy
      kafka:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    networks:
      - microservices-net

  keycloak:
   container_name: keycloak-ms
   image: quay.io/keycloak/keycloak:24.0.2
   ports:
     - "9090:8080"
   environment:
    KEYCLOAK_ADMIN: admin
    KEYCLOAK_ADMIN_PASSWORD: admin
   networks:
    - microservices-net
   command: ["start-dev"]

      
networks:
  microservices-net:
    driver: bridge
  
volumes:
  postgresql:
  pgadmin:
  mongo: